atomicwrites==1.2.1
attrs==18.2.0
boto==2.49.0
boto3==1.9.51
botocore==1.12.51
bz2file==0.98
certifi==2018.10.15
chardet==3.0.4
cycler==0.10.0
cymem==2.0.2
cytoolz==0.9.0.1
dill==0.2.8.2
docutils==0.14
funcy==1.11
future==0.17.1
gensim==3.6.0
googletrans==2.3.0
idna==2.7
Jinja2==2.10.1
jmespath==0.9.3
joblib==0.13.0
kiwisolver==1.0.1
MarkupSafe==1.1.0
matplotlib==3.0.2
more-itertools==4.3.0
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.1
nltk==3.4
numexpr==2.6.8
numpy==1.15.4
pandas==0.23.4
plac==0.9.6
pluggy==0.8.0
praw==6.0.0
prawcore==1.0.0
preshed==2.0.1
py==1.7.0
pyLDAvis==2.1.2
pyparsing==2.3.0
pytest==4.0.1
python-dateutil==2.7.5
pytz==2018.7
regex==2018.1.10
requests==2.20.1
s3transfer==0.1.13
scipy==1.1.0
singledispatch==3.4.0.3
six==1.11.0
smart-open==1.7.1
spacy==2.0.16
thinc==6.12.0
toolz==0.9.0
tqdm==4.28.1
ujson==1.35
update-checker==0.16
urllib3==1.24.2
wrapt==1.10.11
